<div id="<%= dom_id todo %>">
  <p>
    <strong>Item:</strong>
    <%= todo.item %>
  </p>
  
  <!--Displays the item status as per the get_item_status method-->
  <p>
    <strong><%= todo.get_item_status() %></strong>
  </p>

</div>
